.price_banner_lcdv{
    font-size:15px;
    color:rgb(235,59,144);
}
.dot_banner_lcdv{
    width:4px;
    height:4px;
    background-color:rgb(235,59,144);
    border-radius:50%;
}
.dot_banner_lcdv,.price_banner_lcdv,.title_banner_lcdv{
    display:inline-block;
    vertical-align:middle;
}
.title_banner_lcdv{
    margin:0 10px;
    font-size:15px;
    color:rgb(61,61,61);
}
.container_room_dv{
    padding-left:15px;
}
.txt_banner_cdv,.txt_bc_dv{
    margin-left:4px;
}
.info_leaf_cdv{
    font-size:12px;
    color:rgb(168,170,179);
    margin-top:9px;
    text-indent: 18px;
}
.leaf_room_dv:nth-child(n+2){
    margin-top:18px;
}
.room_detail_v,.content_detail_v{
    padding-bottom:30px;
}
.banner_room_dv{
    margin-top:16px;
}